<p class="text-center p-1 d-none">
  <button class="btn btn-primary" (click)="onToastrShow('Primary Hello World!')">Play btn-primary</button>
  <button class="btn btn-secondary">Play btn-secondary</button>
  <button class="btn btn-success">Play btn-success</button>
  <button class="btn btn-warning">Play btn-warning</button>
  <button class="btn btn-danger">Play btn-danger</button>
  <button class="btn btn-info">Play btn-info</button>
  <button class="btn btn-dark">Play btn-dark</button>
  <button class="btn btn-light">Play btn-light</button>
  <button class="btn btn-link">Play btn-link</button>
</p>

<div class="field-main">
  1<br>
  2<br>
  3<br>
  4<br>
  5<br>
  6<br>
</div>
