<div class="container-fluid">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-4 col-md-6">
      <h3 class="text-center">You are't authorized!</h3>
      <div class="card d-none">
        <div class="card-header">Authorization</div>
        <div class="card-body">
          <div class="form-group">
            <label for="pmInputUsername">Username</label>
            <input type="text" class="form-control form-control-sm" id="pmInputUsername" placeholder="Enter username">
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-block btn-outline-primary btn-sm" (click)="OnAuth()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
